In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [31]:
for row in range(5):
    print(f"{row=}")
    for col in range(5-row):
        print(f"\t{col}")

row=0
	0
	1
	2
	3
	4
row=1
	0
	1
	2
	3
row=2
	0
	1
	2
row=3
	0
	1
row=4
	0

In [33]:
print(print.__doc__)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

In [37]:
for row in range(5):
    print(f"{row=}")
    for col in range(5-row):
        #print(f"\t{col}")
        print(chr(col+65), end='\t')

row=0
A	B	C	D	E	row=1
A	B	C	D	row=2
A	B	C	row=3
A	B	row=4
A

In [45]:
for row in range(5):
    for col in range(5-row):
        print(chr(col+65), end='\t')
    print()

A	B	C	D	E
A	B	C	D
A	B	C
A	B
A

In [3]:
for row in range(5):
    for col in range(5-row):
        print(chr(65+4-row-col), end='\t')
    print()

E	D	C	B	A
D	C	B	A
C	B	A
B	A
A

In [5]:
for row in range(5):
    for col in range(5-row):
        print(chr(col+65), end='\t')
    print()
    for col in range(5-row):
        print(chr(65+4-row-col), end='\t')
    print()

A	B	C	D	E
E	D	C	B	A
A	B	C	D
D	C	B	A
A	B	C
C	B	A
A	B
B	A
A
A

In [7]:
for row in range(5):
    for col in range(2*row+1):
        print('*', end='/t')
    print()

*/t
*/t*/t*/t
*/t*/t*/t*/t*/t
*/t*/t*/t*/t*/t*/t*/t
*/t*/t*/t*/t*/t*/t*/t*/t*/t

In [25]:
for row in range(5):
    for col in range(5-row):
        if col==4:
            continue
        print(chr(col+65), end='')
    for col in range(2*row-1):
        print('*', end='')
    for col in range(5-row):
        print(chr(65+4-row-col), end='')
    print()

ABCDEDCBA
ABCD*DCBA
ABC***CBA
AB*****BA
A*******A